<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logi in</title>
</head>
<body>

    <h1>PLEASE LOG IN</h1>
    <form action="/log-in" method="post">
      <input id="username" type="email" placeholder="email" name="username">
      <label for="username">Email</label><br><br>
      <input id="password" type="password" placeholder="password" name="password">
      <label for="password">Password</label><br><br>
      <button>Log in</button>
    </form>
     
</body>
</html>